<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<logger name="com.sun.jersey.guice" level="WARN" />
	<logger name="org.glassfish.jersey" level="WARN"/>
	<logger name="org.rabix" level="INFO" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n
			</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>